body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(35, 35, 35);
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
  }
  
  h1 {
    text-align: center;
    color: antiquewhite;
  }

  div{
    color: rgb(58, 59, 59);
  }
  
  .student-info {
    margin-bottom: 20px;
    text-align: center  ;
    color: antiquewhite;
  }
  
  .section {
    border: 1px solid #ccc;
    border-radius: 10px; 
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    text-align: left;
    background-color:rgb(97, 157, 192);
  }
  
  .section:hover {
    transform: scale(1.05);
  }
  
  .section p {
    color: tomato;
  }

  code{
    align-items: center;
    text-align: center;
  }
  
  
  