@keyframes jump {
    0% {
        transform: translateY(0) rotateY(0deg); /* Sin movimiento ni rotación */
    }
    50% {
        transform: translateY(-8px) rotateY(180deg); /* Salto hacia arriba y giro de 180 grados en el eje Y */
    }
    100% {
        transform: translateY(0) rotateY(360deg); /* Vuelve a su posición original con un giro completo */
    }
}

.animate-jump {
    animation: jump 1s ease-in-out infinite;
    transform-style: preserve-3d; /* Asegura que el elemento preserve el contexto 3D */
    perspective: 1000px; /* Da profundidad para el efecto 3D */
}
