@keyframes fadeMoveUp {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
      transform: translateY(-20px);
    }
    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
  }
  
  @keyframes fadeUpAppear {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .title-animation {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeMoveUp 1.5s ease-in-out forwards;
  }
  
  @media (max-width: 768px) {
    .title-animation {
      top: 40%;
      transform: translate(-50%, -40%);
    }
  }
  
  @media (max-width: 368px) {
    .title-animation {
      top: 30%;
      transform: translate(-50%, -30%);
    }   
  }
  

  .content-animation {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUpAppear 1s ease-in-out forwards;
    animation-delay: 1.5s;
  }
  