.triangle {
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 25px solid #ffebcd;
}

.animation {
  animation-timeline: scroll(); 
  animation-delay: 4.8s;
  animation-duration: 5s;   
  animation-name: appear;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out; 
}

@keyframes appear {
  0% {
    top: 0%;
    border-top-color: #ffebcd;
  }
 
  100% {
    top: 100%;
    border-top-color: #ff6347;
  }
}
