@import url('./assets/fonts/stylesheet.css');


@tailwind base;
@tailwind components;
@tailwind utilities;

.mode-bg-dark {
  background-color: #242424;
}

.mode-bg-white {
  background-color: #c04b4b; 
}

::selection {
  background-color: #9b6d6d;
  color: #f1f1f1;
}

@media (prefers-recuded-motion: no-preference) {

  
};

body {
  font-family: "Iosevka Nerd Font", sans-serif;
}

.font_juan {
  color: blanchedalmond;
  font-size: medium;
}

.font_juan_tittle_SrJuan {
  color: blanchedalmond;
  font-size: large;
}

.font_juan_intro {
  color: blanchedalmond;
  font-display: swap;
  font-style: italic;
  font-size: medium;
  text-align: justify;
  font-stretch: expanded;
  line-height: 2;
  transform: skewX(-4deg);
}

.font_juan_tittle {
  color: blanchedalmond;
  font-size: xx-large;
}

.font_juan_title_projects {
  color: blanchedalmond;
  font-size: large;
}


.font_juan_tittle_trajectory {
  color: rgb(255, 255, 255);
  font-size: large;
}

.font_juan_text_trajectory {
  color: blanchedalmond;
  font-size: medium;
  text-align: center;
}

.font_juan_framework_trajectory {
  color: #76d0f6;
  font-size: medium;
  text-align: center;
}

.font_juan_name {
  color:  blanchedalmond;
  font-size: small;
}


.font_juan_footer {
  color: blanchedalmond;
  font-size: medium;
  text-align: center;
}

.font_tooltip {
  font-size: small;
}

.font_text_faces_cube {
  color: blanchedalmond;
  font-size: medium;
}

/* Animaciones Generales */

/* Animaciones Blur In */
@keyframes fadeIn {
  0% {
    backdrop-filter: blur(10px);
    opacity: 0;
  }
  100% {
    backdrop-filter: blur(0);
    opacity: 1;
  }
}

/* Animaciones Blur Out */
@keyframes fadeOut {
  0% {
    backdrop-filter: blur(0);
    opacity: 1;
  }
  100% {
    backdrop-filter: blur(10px);
    opacity: 0;
  }
}

.animationBlurIn {
  animation: fadeIn 2.5s ease forwards;
}


/** contenedor de proyectos **/



